name: lean_provider
description: A simple provider boilerplate.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Provider
  get_it: ^3.0.3
  provider: ^3.1.0+1
  connectivity: ^0.4.6+1

  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
